NodeRed/Dashboard_finale.txt
[
    {
        "id": "a7243e9b77faa088",
        "type": "tab",
        "label": "Acquisizione dati",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e58624.7faaba",
        "type": "mqtt out",
        "z": "a7243e9b77faa088",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "broker": "10e78a89.5b4fd5",
        "x": 230,
        "y": 720,
        "wires": []
    },
    {
        "id": "83cf37cf.c76988",
        "type": "ui_switch",
        "z": "a7243e9b77faa088",
        "name": "",
        "label": "Output",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 70,
        "y": 720,
        "wires": [
            [
                "9e58624.7faaba"
            ]
        ]
    },
    {
        "id": "21eae8f8.2971b8",
        "type": "ui_chart",
        "z": "a7243e9b77faa088",
        "name": "",
        "group": "61285987.c20328",
        "order": 5,
        "width": 6,
        "height": 4,
        "label": "Temperatura [˚C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "df37e6b7.64c1c8",
        "type": "ui_gauge",
        "z": "a7243e9b77faa088",
        "name": "",
        "group": "61285987.c20328",
        "order": 6,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Pressione [hPa]",
        "label": "hPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "cba85db320266ddb",
        "type": "ui_chart",
        "z": "a7243e9b77faa088",
        "name": "",
        "group": "61285987.c20328",
        "order": 7,
        "width": 6,
        "height": 4,
        "label": "Luminosità [lux]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cc79021b.9a751",
        "type": "debug",
        "z": "a7243e9b77faa088",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "1f15d258e9ca079a",
        "type": "mqtt in",
        "z": "a7243e9b77faa088",
        "name": "dati",
        "topic": "dati",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 70,
        "y": 280,
        "wires": [
            [
                "d5f9a7197e6cd3a0",
                "cc79021b.9a751"
            ]
        ]
    },
    {
        "id": "ee67fed823c04cfc",
        "type": "mqtt in",
        "z": "a7243e9b77faa088",
        "name": "data",
        "topic": "data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 70,
        "y": 640,
        "wires": [
            [
                "2274b6a7cc67a459"
            ]
        ]
    },
    {
        "id": "2274b6a7cc67a459",
        "type": "ui_text",
        "z": "a7243e9b77faa088",
        "group": "61285987.c20328",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Data",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 210,
        "y": 640,
        "wires": []
    },
    {
        "id": "8b127ec2deb63f56",
        "type": "ui_table",
        "z": "a7243e9b77faa088",
        "group": "61285987.c20328",
        "name": "Valori",
        "order": 13,
        "width": 20,
        "height": 2,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "849f900f9e4a64e2",
        "type": "function",
        "z": "a7243e9b77faa088",
        "name": "Selezione Temperatura",
        "func": "msg.payload =  msg.payload.temperatura;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "21eae8f8.2971b8"
            ]
        ]
    },
    {
        "id": "d5f9a7197e6cd3a0",
        "type": "function",
        "z": "a7243e9b77faa088",
        "name": "Conversione",
        "func": "let text=msg.payload.slice(1);\ntext=text.split(\",\");\nlet data={\n    \"timestamp\":\"value\",\n    \"temperatura\":\"value\",\n    \"pressione\":\"value\",\n    \"luminosita\":\"value\",\n}\nconst key=Object.keys(data);\nfor(let index=0;index < text.length; index ++){\n    let element =text[index].split(\"_\");\n    data[key[index]]=element[1].trim()\n}\nmsg.payload=data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 280,
        "wires": [
            [
                "cc79021b.9a751",
                "a159810435ba9679",
                "849f900f9e4a64e2",
                "231f5b018a03603d",
                "5369f3b7810a8650",
                "a9ebb1d8e3b31d74"
            ]
        ]
    },
    {
        "id": "a159810435ba9679",
        "type": "function",
        "z": "a7243e9b77faa088",
        "name": "tabella",
        "func": "\nmsg.payload=[\n    {\n        \"Timestamp\" :msg.payload.timestamp,\n        \"Temperatura [˚C]\": msg.payload.temperatura,\n        \"Pressione [Pa]\" : msg.payload.pressione,\n        \"Luminosità [lux]\": msg.payload.luminosita\n    }];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 380,
        "wires": [
            [
                "8b127ec2deb63f56"
            ]
        ]
    },
    {
        "id": "231f5b018a03603d",
        "type": "function",
        "z": "a7243e9b77faa088",
        "name": "Selezione Temperatura",
        "func": "msg.payload =  msg.payload.luminosita;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 320,
        "wires": [
            [
                "cba85db320266ddb"
            ]
        ]
    },
    {
        "id": "5369f3b7810a8650",
        "type": "function",
        "z": "a7243e9b77faa088",
        "name": "Selezione Temperatura",
        "func": "msg.payload =  msg.payload.pressione;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 260,
        "wires": [
            [
                "df37e6b7.64c1c8"
            ]
        ]
    },
    {
        "id": "7ee078dcec4d849f",
        "type": "mqtt in",
        "z": "a7243e9b77faa088",
        "name": "on/off",
        "topic": "on/off",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 70,
        "y": 780,
        "wires": [
            [
                "67b9e8e8f0b1aaac"
            ]
        ]
    },
    {
        "id": "67b9e8e8f0b1aaac",
        "type": "ui_text",
        "z": "a7243e9b77faa088",
        "group": "61285987.c20328",
        "order": 2,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Stato dati",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 220,
        "y": 780,
        "wires": []
    },
    {
        "id": "aa5002f4dc42c582",
        "type": "mysql",
        "z": "a7243e9b77faa088",
        "mydb": "c70e2a76122b1f23",
        "name": "Database Esp32",
        "x": 905,
        "y": 440,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "a9ebb1d8e3b31d74",
        "type": "function",
        "z": "a7243e9b77faa088",
        "name": "Inserimento dati nel database",
        "func": "msg.topic= \"INSERT INTO esp32_tabella(timestamp,temperatura,pressione,luminosità)\" +\n    \"VALUES('\" + msg.payload.timestamp + \"','\" + msg.payload.temperatura + \"','\" + msg.payload.pressione + \"','\" + msg.payload.luminosita +\"');\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 440,
        "wires": [
            [
                "aa5002f4dc42c582"
            ]
        ]
    },
    {
        "id": "f8d0e51bad6cc58c",
        "type": "ui_button",
        "z": "a7243e9b77faa088",
        "name": "",
        "group": "61285987.c20328",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Ricevi dati da mySql",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "SELECT * FROM `esp32_tabella` ORDER BY id",
        "topicType": "str",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "0d1c25a5aac6433e"
            ]
        ]
    },
    {
        "id": "0d1c25a5aac6433e",
        "type": "mysql",
        "z": "a7243e9b77faa088",
        "mydb": "c70e2a76122b1f23",
        "name": "Database Esp32",
        "x": 305,
        "y": 580,
        "wires": [
            [
                "cc79021b.9a751",
                "4a8875aa5a469c98"
            ]
        ],
        "l": false
    },
    {
        "id": "4a8875aa5a469c98",
        "type": "ui_table",
        "z": "a7243e9b77faa088",
        "group": "61285987.c20328",
        "name": "Valori",
        "order": 16,
        "width": 20,
        "height": 5,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 630,
        "y": 580,
        "wires": []
    },
    {
        "id": "5b1acb1121294710",
        "type": "ui_spacer",
        "z": "a7243e9b77faa088",
        "name": "spacer",
        "group": "61285987.c20328",
        "order": 4,
        "width": 20,
        "height": 1
    },
    {
        "id": "98a9403e0aa19e60",
        "type": "ui_spacer",
        "z": "a7243e9b77faa088",
        "name": "spacer",
        "group": "61285987.c20328",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "a5e2cbca000a872c",
        "type": "ui_spacer",
        "z": "a7243e9b77faa088",
        "name": "spacer",
        "group": "61285987.c20328",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "a45614fb280467aa",
        "type": "ui_spacer",
        "z": "a7243e9b77faa088",
        "name": "spacer",
        "group": "61285987.c20328",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "4fbec5a1ccb94ee3",
        "type": "ui_spacer",
        "z": "a7243e9b77faa088",
        "name": "spacer",
        "group": "61285987.c20328",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "09cd340220939d5b",
        "type": "ui_spacer",
        "z": "a7243e9b77faa088",
        "name": "spacer",
        "group": "61285987.c20328",
        "order": 12,
        "width": 20,
        "height": 1
    },
    {
        "id": "2d28e2b4bcd1d175",
        "type": "ui_spacer",
        "z": "a7243e9b77faa088",
        "name": "spacer",
        "group": "61285987.c20328",
        "order": 15,
        "width": 16,
        "height": 1
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Intefaccia",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c70e2a76122b1f23",
        "type": "MySQLdatabase",
        "name": "Database Esp32",
        "host": "localhost",
        "port": "3306",
        "db": "Esp32_prova",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    }
]
